[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "base64url"]
	path = base64url
	url = https://github.com/mllg/base64url
[submodule "batchtools"]
	path = batchtools
	url = https://github.com/mllg/batchtools
[submodule "checkmate"]
	path = checkmate
	url = https://github.com/mllg/checkmate
[submodule "fail"]
	path = fail
	url = https://github.com/mllg/fail
